

div.three-way {
  --long:  60vmin;                    /* long side */
  --cross: calc(var(--size) * 0.5);   /* ratio of short side */
  --twice: calc(var(--size) - var(--cross));
  --once:  calc(var(--twice)* 0.5);
  --icon:  calc(var(--cross) * 0.85); /* font-size for icon */
  --edge:  calc(var(--size) * 0.02);  /* border width */
  --side:  #fff;                    /* border color */
  /* backgroundColor of dots in various states */
  --off:   #900;
  --mix:   #a50;
  --on:    #060;
  /* backgroundColor of slider in various states */
  --bgoff: #333;
  --bgmix: #666;
  --bgon:  #999;
  /* icons for various states */
  --ioff:  "☁️";
  --imix:  "🌤️";
  --ion:   "☀️";

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--long);
  height: var(--cross);
  background-color: var(--bgoff);
  border: var(--edge) solid var(--side);
  border-radius: 100vmax;
  box-sizing: border-box;
  overflow: hidden;

  /* Make labels fill one-third each, shrunk to fit by flex */
  label {
    width: 100%;
    height: 100%;

    /* UNCOMMENT THE RULES BELOW TO SHOW LABEL WIDTHS */
    /* background-color: var(--bgoff);

    &:has(.mix) {
      background-color: var(--bgmix);
    }

    &:has(.on) {
      background-color: var(--bgon);
    } */
    /* UNCOMMENT THE RULES ABOVE TO SHOW LABEL WIDTHS */

    /* Hide the radio buttons, but labels keep them active */
    input {
      display: none;
    }
  }

  &::before,
  &::after {
    /* Specific for off state */
    content: var(--ioff);
    background-color: var(--light);
    /* Generic for all states */
    position: absolute;
    top: 0;
    left: 0;
    /* Center the icon */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--icon);
    /* Round button */
    width: var(--cross);
    height: var(--cross);
    border-radius: 100vmax;
    overflow: hidden; /* allows click above edge */

    transition: all 250ms;
  }

  /* Specific settings for mix and on states */
  &:has(.mix:checked) {
    background-color: var(--bgmix);

    &::before,
    &::after {
      content: var(--imix);
      left: var(--once);
      background-color: var(--light);
    }
  }

  &:has(.on:checked) {
    background-color: var(--bgon);

    &::before,
    &::after {
      content: var(--ion);
      left: var(--twice);
      background-color: var(--on);
    }
  }

  /* Custom settings for a vertical three-way slider */
  &.vertical {
    flex-direction: column;
    width: var(--cross);
    height: var(--long);

    &:has(.mix:checked) {
      &::before,
      &::after {
        left: 0;
        top: var(--once);
      }
    }

    &:has(.on:checked){
      &::before,
      &::after {
        left: 0;
        top: var(--twice);
      }
    }
  }
}