/**
 * frontend/src/App.css
 */

:root {
  --light: #ddd;
  --dark: #222;
  --gap: 0.5em;
  --width: 10em;

  --button: #333;
  --button-border: #666;
  --button-active: #333;
  --primary: #060;
  --primary-border: #393;
  --primary-active: #030;
  --disabled: #444;
  --disabled-color: #777;
  --disabled-border: #444;
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--light);
  background-color: var(--dark);
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 2em 0;
}

h1 {
  font-size: 2.25em;
}

 img {
  display: block;
  max-width: 256px;
  margin-bottom: 2em;
 }

 button {
  color: inherit;
  font-size: inherit;
  background-color: var(--button);
  border: 1px outset var(--button-border);
  border-radius: var(--gap);
  width: var(--width);
  padding: var(--gap);
  cursor: pointer;
 
  &.primary {
    background-color: var(--primary);
    border-color: var(--primary-border);
  }
}
 
button:hover {
  background-color: var(--button-active);
  color: #fff;
}

button.primary:hover {
  background-color: var(--primary-active);
}
 
button:hover:active{
  border-style: inset;
  background-color: #000;
}

button:disabled {
  color: var(--disabled-color);
  background-color: var(--disabled);
  border: 1px solid var(--disabled-border);
  pointer-events: none;
}

/* pre {
  border: 1px inset #888;
  width: fit-content;
  min-width: 25em;
  min-height: 8em;
  overflow: auto;
}

a {
  color: inherit;
  font-family: inherit;
  display: block;
  width: var(--width);
  padding: var(--gap) 0;
  text-align: center;
  text-decoration: none;
  border: 1px outset #888;
  border-radius: 0.5em;
  user-select: none;

  &:hover {
    color: #99f;
  }

  &:hover:active {
    border-style: inset;
    background-color: #000;
  }
} */

ul#tabs {
  position: fixed;
  background-color: var(--dark);
  top: 0;
  display: flex;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;

  button {
    width: 100%;
  }

  li {
    width: auto;
    flex: 1;

    a {
      color: inherit;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;

  button {
    flex: 1;
  }
}