/**
 * frontend/src/App.css
 */

:root {
  --light: #ddd;
  --dark: #222;
  --gap: 0.5em;
  --width: 10em;

  --button: #333;
  --button-border: #666;
  --button-active: #333;
  --primary: #060;
  --primary-border: #393;
  --primary-active: #030;
  --disabled: #444;
  --disabled-color: #777;
  --disabled-border: #444;
  --hinted: #ccc;

  --button-size: 1.8em;
  --saved-button: #060;
  --altered: #fcc;
  --altered-button: #900;
  --altered-active: #a00;
  --altered-border: #c33;
  --saving: #c70;
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--light);
  background-color: var(--dark);
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 2.5em 0;
  box-sizing: border-box;
  /* background-color: #060; */
}

h1 {
  font-size: 2.25em;
}

 img {
  display: block;
  max-width: 256px;
  margin-bottom: 2em;
 }

 button {
  color: inherit;
  font-size: inherit;
  background-color: var(--button);
  border: 1px outset var(--button-border);
  border-radius: var(--gap);
  width: var(--width);
  padding: var(--gap);
  cursor: pointer;
 
  &.primary {
    background-color: var(--primary);
    border-color: var(--primary-border);
  }

 
  &:hover {
    background-color: var(--button-active);
    color: #fff;
  }

  &.primary:hover {
    background-color: var(--primary-active);
  }
 
  &:hover:active{
    border-style: inset;
    background-color: #000;
  }

  &:disabled {
    color: var(--disabled-color);
    background-color: var(--disabled);
    border: 1px solid var(--disabled-border);
    pointer-events: none;
  }
}

ul#tabs {
  position: fixed;
  background-color: var(--dark);
  top: 0;
  display: flex;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;

  button {
    width: 100%;
  }

  li {
    width: auto;
    flex: 1;

    a {
      color: inherit;
    }
  }
}

div#phraseList {
  counter-set: number;

  div.phrase {
    display: flex;
    border-radius: 1.5em;
    border: 1px inset #666;
    box-sizing: border-box;
    background-color: #444;
    margin-top: var(--gap);
    counter-increment: number;

    div.number,
    div.button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2em;
    }

    div.number::before {
      content: counter(number);
    }

    textArea {
      display: block;
      width: 40em;
      max-width: calc(100vw - 7em);

      &.altered {
        background-color: var(--altered);
      }

      &.hinted {
        background-color: var(--hinted);
      }
    }

    div.button {
      & button {
        height: var(--button-size);
        width: var(--button-size);
        border-radius: 100vmax;
        border: none;
        pointer-events: none;

        &.saved  {
          background-color: var(--saved-button);
        }

        &.altered  {
          background-color: var(--altered-button);
          border-color: var(--altered-border);
          border-style: outset;
          border-width: 2px;
          pointer-events: all;

          &:hover {      
            background-color: var(--altered-active);  

            &:active {
              border-style: inset;
            }
          }
        }

        &.saving  {
          background-color: var(--saving);
        }
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: var(--dark);

  span {
    display: flex;
    flex-basis: 2.4em;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 100vmax;
  }

  button {
    flex: 1;
  }
}